* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.container_main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}

.title_form {
  width: 475px;
  margin-bottom: 15px;
}

.form_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form_elements {
  width: 100%;
}

.form_elements input {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 4px;
  margin-bottom: 20px;
  outline: none;
  width: 470px;
}

.form_elements input::placeholder {
  position: absolute;
  left: 0;
  top: 0;
}

.create_account_button button {
  display: flex;
  width: 470px;
  height: 45px;
  background-color: #101727;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  color: #fff;
}

.create_account_button button:hover {
  color: #000000;
  font-weight: bold;
  background-color: #ff3300;
}

.sign_up_button {
  display: flex;
  justify-content: flex-start;
}

.sign_up_button button {
  display: flex;
  width: 100%;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

#btn_google_login {
  width: 350px;
  color: #000000;
  border: none;
  border-radius: 3px;
}

#btn_google_login:hover {
  color: #ffffff;
  background-color: #101727;
}

#btn .sign_up_button button span:last-child {
  margin-left: 5px;
}

.login_action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-top: 17px;
}

.login_text {
  width: 365px;

  font-size: 15px;
  text-align: center;
}

.login_action strong {
  text-decoration: underline;
}
.login_action strong:hover {
  cursor: pointer;
}

.text_forgetPassword {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

.slider_section {
  margin-left: 30px;
}
.slider_item img {
  width: 500;
  height: 550px;
}
